name: Java CI/CD BookHub Grupo4

on:
  push:
    branches: [ "grupo4" ]
  pull_request:
    branches: [ "grupo4" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn clean install

    - name: Run tests
      run: mvn test

    - name: Build Docker image
      run: docker build -t bookhub:grupo4 .

    - name: Run Docker container
      run: docker run --rm bookhub:grupo4
